In [238]:
import pandas as pd

import requests
import os

from tqdm.auto import tqdm  # for notebooks

tqdm.pandas()

from warnings import simplefilter

simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

In [239]:
file_path = "replays.parquet"
if os.path.exists(file_path):
    disk = pd.read_parquet(file_path)
    if "id" in disk.columns:
        disk = disk.set_index("id")


fetch_new = True
if fetch_new:
    apiUrl = "https://api.bar-rts.com/replays?limit=1000&preset=team&hasBots=true"

    json = requests.get(apiUrl, headers={"User-Agent": "tetrisface"}).json()

    data = json["data"]

    api = pd.DataFrame.from_records(data).set_index("id")

    if disk is None:
        games = api
    else:
        games = pd.concat(
            [disk, api.loc[api.index.difference(disk.index)]],
            verify_integrity=True,
            axis=0,
        )
    games.startTime = pd.to_datetime(games.startTime)

    games.to_parquet(file_path)
else:
    games = disk

In [240]:
pd.options.mode.copy_on_write = True
import time


def is_raptors(row):
    for team in row:
        for ai in team["AIs"]:
            if ai["shortName"] == "RaptorsAI":
                return True
    return False


def is_draw(row):
    results = []
    for team in row:
        results.append(team["winningTeam"])
    return len(team) <= 1 or all(
        x == results[0] for x in [team["winningTeam"] for team in row]
    )


def winners(row):
    _winners = []
    for team in row:
        if team["winningTeam"] is True:
            if len(team["Players"]) > 0:
                _winners.extend([player["name"] for player in team["Players"]])
            elif len(team["AIs"]) > 0:
                _winners.extend([ai["shortName"] for ai in team["AIs"]])
    return _winners


def players(row):
    _players = []
    for team in row:
        _players.extend([player["name"] for player in team["Players"]])
    return _players


games["raptors"] = games["AllyTeams"].apply(is_raptors)
games["draw"] = games["AllyTeams"].apply(is_draw)
games["winners"] = games["AllyTeams"].apply(winners)
games["players"] = games["AllyTeams"].apply(players)

In [241]:
raptor_games = games[
    games["raptors"]
    # & ~df_root_expanded["draw"]
]  # draws might be good to exclude

raptor_games["fetch_success"] = None


def api_game_settings(row):
    time.sleep(1)
    if row is not None and row.name is not None:
        url = f"https://api.bar-rts.com/replays/{row.name}"
        response = requests.get(url, headers={"User-Agent": "tetrisface"})
        if response.status_code == 200:
            game_settings = response.json().get("gameSettings")
            for key, value in game_settings.items():
                # Add new column to DataFrame if the column doesn't exist
                if key not in raptor_games.columns:
                    raptor_games[key] = None
                # Update DataFrame with fetched data
                row[key] = value
            row["fetch_success"] = True
            return row
    print(f"Failed to fetch data from {url}")
    row["fetch_success"] = False
    return row


# load in disk
if os.path.exists("replays_gamesettings.pickle"):
    disk = pd.read_pickle("replays_gamesettings.pickle")
    raptor_games.loc[disk.index, disk.columns] = disk

isnull = raptor_games[
    raptor_games["fetch_success"].isnull() | (raptor_games["fetch_success"] == False)
]
to_fetch = isnull.head(200)
print(f"fetching {len(to_fetch)} of {len(isnull)} missing games")

# fetch new
df_raptors_api = to_fetch.progress_apply(
    api_game_settings,
    axis=1,
)
raptor_games.loc[df_raptors_api.index, df_raptors_api.columns] = df_raptors_api

# store
raptor_games[raptor_games["fetch_success"].notnull()].to_pickle(
    "replays_gamesettings.pickle"
)

if len(raptor_games.loc[raptor_games.fetch_success == False]) > 0:
    print(f'failed to fetch {len(raptor_games[~raptor_games["fetch_success"]])} games')

fetching 2 of 2 missing games

100%|██████████| 2/2 [00:02<00:00,  1.20s/it]

In [242]:
string_columns = [
    "assistdronesenabled",
    "commanderbuildersenabled",
    "deathmode",
    "experimentalshields",
    "experimentalstandardgravity",
    "lootboxes_density",
    "lootboxes",
    "map_tidal",
    "raptor_difficulty",
    "raptor_raptorstart",
    "ruins_density",
    "ruins",
    "scav_difficulty",
    "scav_scavstart",
    "scoremode",
    "startTime",
    "teamcolors_anonymous_mode",
    "teamcolors_icon_dev_mode",
    "transportenemy",
    "tweakdefs",
    "tweakdefs1",
    "tweakdefs2",
    "tweakdefs3",
    "tweakdefs4",
    "tweakdefs5",
    "tweakdefs6",
    "tweakdefs7",
    "tweakdefs8",
    "tweakdefs9",
    "tweakunits",
    "tweakunits1",
    "tweakunits2",
    "tweakunits3",
    "tweakunits4",
    "tweakunits5",
    "tweakunits6",
    "tweakunits7",
    "tweakunits8",
    "tweakunits9",
]
for col in string_columns:
    raptor_games[string_columns] = raptor_games[string_columns].fillna("")

raptor_games = raptor_games.astype({col: str for col in string_columns}, errors="raise")

numerical_columns = [
    "ai_incomemultiplier",
    "air_rework",
    "allowpausegameplay",
    "allowuserwidgets",
    "april1",
    "april1extra",
    "assistdronesair",
    "assistdronesbuildpowermultiplier",
    "assistdronescount",
    "capturebonus",
    "captureradius",
    "capturetime",
    "commanderbuildersbuildpower",
    "commanderbuildersrange",
    "coop",
    "critters",
    "debugcommands",
    "decapspeed",
    "defaultdecals",
    "disable_fogofwar",
    "disablemapdamage",
    "dominationscore",
    "dominationscoretime",
    "easter_egg_hunt",
    "easteregghunt",
    "emprework",
    "energyperpoint",
    "experimentalextraunits",
    "experimentalimprovedtransports",
    "experimentallegionfaction",
    "experimentalmassoverride",
    "experimentalnoaircollisions",
    "experimentalrebalancet2energy",
    "experimentalrebalancet2labs",
    "experimentalrebalancet2metalextractors",
    "experimentalrebalancewreckstandarization",
    "experimentalreversegear",
    "experimentalxpgain",
    "faction_limiter",
    "ffa_wreckage",
    "fixedallies",
    "lategame_rebalance",
    "limitscore",
    "map_atmosphere",
    "map_waterislava",
    "map_waterlevel",
    "maxunits",
    "metalperpoint",
    "multiplier_builddistance",
    "multiplier_buildpower",
    "multiplier_buildtimecost",
    "multiplier_energyconversion",
    "multiplier_energycost",
    "multiplier_energyproduction",
    "multiplier_losrange",
    "multiplier_maxdamage",
    "multiplier_maxvelocity",
    "multiplier_metalcost",
    "multiplier_metalextraction",
    "multiplier_radarrange",
    "multiplier_resourceincome",
    "multiplier_shieldpower",
    "multiplier_turnrate",
    "multiplier_weapondamage",
    "multiplier_weaponrange",
    "norush",
    "norushtimer",
    "numberofcontrolpoints",
    "proposed_unit_reworks",
    "ranked_game",
    "raptor_endless",
    "raptor_firstwavesboost",
    "raptor_graceperiodmult",
    "raptor_queentimemult",
    "raptor_spawncountmult",
    "raptor_spawntimemult",
    "releasecandidates",
    "ruins_civilian_disable",
    "ruins_only_t1",
    "scav_bosstimemult",
    "scav_endless",
    "scav_graceperiodmult",
    "scav_spawncountmult",
    "scav_spawntimemult",
    "scoremode_chess_adduptime",
    "scoremode_chess_spawnsperphase",
    "scoremode_chess_unbalanced",
    "scoremode_chess",
    "shareddynamicalliancevictory",
    "skyshift",
    "startenergy",
    "startenergystorage",
    "startmetal",
    "startmetalstorage",
    "starttime",
    "teamffa_start_boxes_shuffle",
    "tugofwarmodifier",
    "unified_maxslope",
    "unit_restrictions_noair",
    "unit_restrictions_noconverters",
    "unit_restrictions_noendgamelrpc",
    "unit_restrictions_noextractors",
    "unit_restrictions_nolrpc",
    "unit_restrictions_nonukes",
    "unit_restrictions_notacnukes",
    "unit_restrictions_notech2",
    "unit_restrictions_notech3",
    "usemapconfig",
    "usemexconfig",
]

for col in numerical_columns:
    raptor_games[numerical_columns] = raptor_games[numerical_columns].fillna(0)

for col in numerical_columns:
    raptor_games[col] = pd.to_numeric(
        raptor_games[col],
        downcast="integer",
    )
# df_raptors.info(verbose=True)

In [243]:
from nuttyb import hp_multiplier_149, main

raptor_games["nuttyb_main"] = raptor_games.apply(
    lambda row: all(
        [
            tweak["value"] == row[tweak["location"]]
            for tweak in main
            if tweak["version"] == "1.48"
        ]
    )
    or all(
        [
            tweak["value"] == row[tweak["location"]]
            for tweak in main
            if tweak["version"] == "1.49"
        ]
    ),
    axis=1,
)


def nuttyb_difficulty(row):
    for _def in hp_multiplier_149:
        if row[_def["location"]] == _def["value"]:
            return _def["name"]
    return None


raptor_games["nuttyb_difficulty"] = raptor_games.apply(nuttyb_difficulty, axis=1)


def raptor_diff(row):
    if row["nuttyb_main"]:
        if row["nuttyb_difficulty"] is None:
            return f"NuttyB Main + Vanilla {row["raptor_difficulty"]}"
        else:
            return f"NuttyB Main & HP {row["nuttyb_difficulty"]}"
    elif row["nuttyb_difficulty"]:
        return f"Vanilla + NuttyB HP {row["raptor_difficulty"]}"
    else:
        return f"Vanilla {row["raptor_difficulty"]}"


raptor_games["difficulty"] = raptor_games.apply(
    raptor_diff,
    axis=1,
)

In [244]:
raptor_players = raptor_games.explode("players")
raptor_players.rename(columns={"players": "player"}, inplace=True)


raptor_players["won"] = raptor_players.apply(
    lambda row: row.player in row.winners, axis=1
)

In [245]:
import csv


# player_game_mask = raptor_games["players"].apply(lambda x: 'tetrisface' in x)
player_game_mask = False

total_unique = raptor_players.player.nunique()

print(
    f'{len(raptor_games[player_game_mask] if player_game_mask else raptor_games)} games and {total_unique} player names between {raptor_players["startTime"].min()[:10]} and {raptor_players["startTime"].max()[:10]}'
)
raptor_players["difficulty"] = pd.Categorical(
    raptor_players["difficulty"],
    [
        "Vanilla nan",
        "Vanilla veryeasy",
        "Vanilla easy",
        "Vanilla normal",
        "Vanilla hard",
        "Vanilla veryhard",
        "Vanilla epic",
        "Vanilla + NuttyB HP normal",
        "Vanilla + NuttyB HP epic",
        "NuttyB Main + Vanilla hard",
        "NuttyB Main + Vanilla veryhard",
        "NuttyB Main + Vanilla epic",
        "NuttyB Main & HP Epic",
        "NuttyB Main & HP Epic+",
        "NuttyB Main & HP Epicer",
        "NuttyB Main & HP Epicest",
    ],
    ordered=True,
)
agg_total = raptor_players.groupby(["difficulty"], observed=True).agg(
    {"player": "nunique"}
)
agg_won = (
    raptor_players[raptor_players["won"]]
    .groupby(["difficulty"], observed=True)
    .agg({"player": "nunique"})
)
game_modes = agg_total.join(agg_won, lsuffix=" tried", rsuffix=" won")
game_modes["% won"] = game_modes["player won"] / game_modes["player tried"] * 100
game_modes["% tried of total"] = game_modes["player tried"] / total_unique * 100
game_modes["% won of total"] = game_modes["player won"] / total_unique * 100
game_modes.fillna(0, inplace=True)
game_modes["player won"] = game_modes["player won"].astype(int)
game_modes.to_csv("game_modes_stats.csv", quoting=csv.QUOTE_ALL)
display(
    game_modes.style.format(
        {"% won": "{:.0f}%", "% tried of total": "{:.0f}%", "% won of total": "{:.0f}%"}
    ).set_table_styles(
        [{"selector": ".row_heading", "props": [("text-align", "left")]}]
    )
)

2056 games and 2408 player names between 2024-03-15 and 2024-04-02

In [246]:
from math import log2
from collections import Counter


def ID3_entropies(data_df):
    """
    https://gist.github.com/whitehaven/bbd408edca38de93637635b52d2bba89

    Takes pandas.DataFrame and returns a series with all non-index schemas' entropies calculated.

    It supports non-binary field types by calculating average entropy. Result series starts with the most productive decision level.
    """

    def entropy_for_field(field):
        entropy = 0
        field_entry_count = len(field)

        # get count of unique
        field_counter = Counter(field)

        # E( Si/S * E(pi*log2(pi)) )
        for trait, count in field_counter.items():
            p_T = count / field_entry_count
            p_F = (field_entry_count - count) / field_entry_count

            if p_T == 0 or p_F == 0:
                entropy = 0
                break
            # Si/S * E(pi*log2(pi))
            entropy += (
                count / field_entry_count * (-(p_T * log2(p_T)) - (p_F * log2(p_F)))
            )
        return entropy

    data_df_entropy = {}
    for field in data_df:
        entropy_this_field = entropy_for_field(data_df[field])
        data_df_entropy[field] = entropy_this_field

    data_df_entropy_se = pd.Series(data_df_entropy)
    data_df_entropy_se.sort_values(inplace=True, ascending=False)
    return data_df_entropy_se


df_entropy = ID3_entropies(
    raptor_games.loc[:, raptor_games.columns.isin(numerical_columns)]
).to_frame("entropy")

In [247]:
import warnings

with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=RuntimeWarning)
    df_stats = (
        raptor_games.loc[:, raptor_games.columns.isin(numerical_columns)]
        .agg(["mean", "median", "min", "max", "std", "skew", "kurt"])
        .T.join(df_entropy, how="outer")
        .sort_values(by="entropy", ascending=False)
    )
df_stats.to_csv("raptor_gamesettings_stats.csv", quoting=csv.QUOTE_ALL)
with pd.option_context(
    "display.float_format", "{:.0f}".format, "display.max_rows", 500
):
    display(
        df_stats.style.format(
            {
                "median": "{:.1f}",
                "min": "{:.1f}",
                "max": "{:.0f}",
                "mean": "{:.2f}",
                "std": "{:.2f}",
                "skew": "{:.2f}",
                "kurt": "{:.2f}",
                "entropy": "{:.2f}",
            }
        ).set_table_styles(
            [{"selector": ".row_heading", "props": [("text-align", "left")]}]
        )
    )

In [248]:
# df_raptors = df_raptors.explode("players")
# df_raptors.rename(columns={"players": "player"}, inplace=True)
# df_raptors["won"] = df_raptors.apply(lambda row: row.player in row.winners, axis=1)

# df_raptors["week"] = pd.to_datetime(df_raptors["startTime"]).dt.month
# df = df_raptors.groupby(["player", "week"]).agg({"won": "mean", "id": "count"})
# df = df.rename(columns={"won": "winrate", "id": "replays"})

# df = df[df.replays > 4]

# rank_sum_column = "rank_sum"
# df[rank_sum_column] = (df.winrate.rank() * 0.1 + df.replays.rank() * 0.9) / len(df)
# df.sort_values(rank_sum_column, inplace=True, ascending=False)

# df[rank_sum_column] = round(df[rank_sum_column], 2).astype(str)

# df.winrate = df.winrate * 100

In [249]:
# pd.set_option("display.max_rows", 500)
# pd.options.display.float_format = "{:.0f}%".format

# for week, df_week in df.groupby("week"):
#     # df_week = df_week[df_week["replays"] > 4].reset_index()
#     df_week = df_week.reset_index()
#     df_week.index = np.arange(1, len(df_week) + 1)
#     print(df_week.head(20))
#     print()